[submodule "fundamental-metric"]
	path = fundamental-metric
	url = git@github.com:Thesis-DiME/fundamental-metric.git
[submodule "DiffusionEngine"]
	path = DiffusionEngine
	url = git@github.com:Thesis-DiME/DiffusionEngine.git
[submodule "EvalMuseMini"]
	path = EvalMuseMini
	url = git@github.com:Thesis-DiME/EvalMuseMini.git
